.container
	.wrapper1
		.title Clubhouse.
		%form.login_form{:name => "login_form", :method => "post"}
			%label{:for => "username"}
			%input{:type => "text", :name => "username", :class => "text", :placeholder => "Username"}
			%br
			%label{:for => "password"}
			%input{:type => "password", :name => "password", :class => "password", :placeholder => "Password"}
			%br
			%input.login_submit{:type => "submit", :label => "Login"}