!!!
%html
	%head
		%title Clubhouse.
		%script{:src => "/js/jquery.js", :type => "text/javascript"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/css/bootstrap.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
	%body
	=yield