@font-face {
    font-family: 'nexa_lightregular';
    src: url('/nexa/nexa_light-webfont.eot');
    src: url('/nexa/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nexa/nexa_light-webfont.woff') format('woff'),
         url('/nexa/nexa_light-webfont.ttf') format('truetype'),
         url('/nexa/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btn-custom {
  background-color: hsl(90, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bfff7f", endColorstr="#77ef00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bfff7f), to(#77ef00));
  background-image: -moz-linear-gradient(top, #bfff7f, #77ef00);
  background-image: -ms-linear-gradient(top, #bfff7f, #77ef00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfff7f), color-stop(100%, #77ef00));
  background-image: -webkit-linear-gradient(top, #bfff7f, #77ef00);
  background-image: -o-linear-gradient(top, #bfff7f, #77ef00);
  background-image: linear-gradient(#bfff7f, #77ef00);
  border-color: #77ef00 #77ef00 hsl(90, 100%, 40%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.46);
  font: "nexa_lightregular" !important;
  -webkit-font-smoothing: antialiased;
}

body{
	font-family: "nexa_lightregular";
	background-image: url('/img/bg.png');
}

.wrapper-one{
	background-color: #00648c;
	width: 400px;
	margin: 0 auto;
	color: white;
	padding-bottom: 25px;
}

.title-intro{
	width: 400px;
	text-align: center;
	font-size: 4.8em;
	padding-top: 10px;
}

.login-form{
	width: 220px;
	margin: 0 auto;
	padding-top: 50px;
}

.login-submit{
	font-family: "nexa_lightregular";
	float: right;
	padding-left: 10px;
	padding-right: 10px;
}

.login-signup{
	font-family: "nexa_lightregular";
	font-size: 1.5em;
	color: black;
	padding: 8px;
	padding-left: 65px;
	padding-right: 65px;
}

